/* Container */

.resultContainer {
    padding: 0.5em;
    border: black;
    height: 300px;
    overflow: auto;
}

.itemLoadAndUpdateContainer {
  padding: 0.5em;
  height: 200px;
  overflow: auto;
}

/* Object */

.input {
    border: none;
    border-bottom: 2px solid gray;
    margin: 0.5em;
    padding: 0.5em;
    border-radius: 5px;
}

.evidenceIpt {
  width: 55px;
}
.commentIpt {
  width: 55px;
}
.manuNumIpt {
  width: 70px;
}
.fNameIpt {
  width: 70px;
}

.sBNameIpt {
  width: 70px;
}
.bNameIpt {
  width: 70px;
}
.nCIpt {
  width: 30px;
}

.goTopBtn {
    height: 50px;
    width: 50;
    position: fixed;
    right: 10px;
    bottom: 10px;
    opacity: 0.1;
    filter: alpha(opacity=40);
}

.goTopBtn:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}

.saveBtn {
  position: fixed;
  border-radius: 2px;
}

.saveMsg {
  border-left: 1000px;
  position: fixed;
}

/* Table */

table {
    border-collapse: separate;
    border-spacing: 0;
  }
  table tbody {
    overflow: auto;
  }
  table tr th,
  table td {
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    padding: 5px;
    
  }
  table tr th:first-child,
  table td:first-child {
    border-left: 1px solid #bbb;
  }
  table tr:focus-within {
    background-color: #bbb;
  }
  table tr th {
    background: #eee;
    border-top: 1px solid #bbb;
    text-align: left;
  }